name: reusable / test-and-release

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
        description: Version of MongoDB to test and release
    secrets:
      DOCKERHUB_USERNAME:
        required: true
        description: Docker Hub username
      DOCKERHUB_TOKEN:
        required: true
        description: Docker Hub token
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: ./src/${{ inputs.version }}
          load: true
          tags: |
            a2ikm/sharded-mongo:${{ inputs.version }}-test
      - name: Run tests
        run: |
          docker run --rm \
            --volume "$(pwd)/test/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d" \
            --volume "$(pwd)/test:/test" \
            a2ikm/sharded-mongo:${{ inputs.version }}-test bash /test/test.sh

  release:
    if: ${{ github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
      - name: Generate tags
        id: tags
        run: |
          require "json"

          version = "${{ inputs.version }}"
          latest = Dir["src/*"].map { |path| File.basename(path) }.sort.last

          tags = [
            "a2ikm/sharded-mongo:#{version}",
          ]

          if version == latest
            tags << "a2ikm/sharded-mongo:latest"
          end

          File.open(ENV.fetch("GITHUB_OUTPUT"), "a") do |file|
            file.puts("value=#{tags.join(",")}")
          end
        shell: ruby {0}
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: ./src/${{ inputs.version }}
          push: true
          tags: ${{ steps.tags.outputs.value }}
          platforms: |
            linux/amd64
            linux/arm64
